@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jura', sans-serif;
    background-color: black;
}

header {
    background-color:rgba(8, 72, 135, 0.6);
    border-radius: 10px;
}

/* Main Navigation */

.logo > a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px rgb(164, 36, 59);
    text-transform: uppercase;
    text-align: left;
    margin-left: 10px;
}

.nav-links {
    font-size: 140%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0 1rem;
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    border-bottom: 2px solid white;
}

.nav-links .active {
      color: rgba(245, 138, 7);
      font-weight: bold;
      border-bottom: 2px solid white;
}

/* Hero Image */

#hero-image {
     Height: 100vh;
     width: 100%;
     background-image: url('../images/forest-walk.webp');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;

}

/* Home Page*/

#slogan {

    color: white;
    background-color: rgba(175, 187, 242, 0.4);
    width: 400px;
    height: auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

  /* Book Now Button */

#book-now {

    background-color: rgb(164, 36, 59);
    margin-top: 5px;
}

#book-now > a {

    font-size: 1rem;
    color:white;
    text-decoration: none;
}

/* small mobile screen sizes */

@media screen and (max-width: 320px) {

    body {
        font-size: 1rem;
    }

    header {
        height: auto;
    }

    .logo {
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

}

  @media screen and (max-width: 448px) {

    #slogan {
        color: white;
        background-color: rgba(175, 187, 242, 0.4);
        width: 100%;
        height: auto;
        margin: 5px;
        padding: 10px;
        text-align: center;
        border-radius: 10px; 
    }

}

/* medium to large mobile screens and tablets*/

@media screen and (max-width: 768px) {

 

    /* #slogan {
        color: white;
        background-color: rgba(175, 187, 242, 0.4);
        width: 100%;
        height: auto;
        margin-top: 10px;
        padding: 10px;
        text-align: center;
        border-radius: 10px; 
    } */

}
