@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jura', sans-serif;
    background-color: black;
}

header, footer {
    background-color:rgba(8, 72, 135, 0.6);
    border-radius: 10px;
    Height:auto;
}

/* Navigation */

.logo {
    font-size: 2rem;
    text-shadow: 2px 2px rgb(164, 36, 59);
    text-transform: uppercase;
    text-align: left;
    margin-left:10px;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    list-style-type: none;
    text-transform: uppercase;
    
}

#footer-links {
    justify-content: center;
}

#footer-links a {
    font-size: 2rem; 
}

.nav-links a:hover {
    border-bottom: 2px solid white;
}

.nav-links a:hover, #footer-links a:hover {
    color: rgba(245, 138, 7);
    font-weight: bold;
}

/* Hero Image */

#hero-image {
    
     background-image: url('../images/forest-walk.webp');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     background-attachment:fixed;

}

/* Page divs */

#home, #about, #gallery, #contact-us {

    color: white;
    background-color: rgba(175, 187, 242, 0.4);
    height: auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

  /* Book Now Button */

#book-now {

    background-color: rgb(164, 36, 59);
    margin-top: 5px;
}

/* very large screen sizes */

@media screen and (max-width: 2560px) {

    /* Home */

    #home, #about, #gallery, #contact-us {
        width: 400px;
        margin-left: 10px;
    }

    img{
        width: auto;
        margin-left: 10px;
    }
}

/* small mobile screen sizes */

@media screen and (max-width: 320px) {

    /* Navigation */
    
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
      
    /* home*/

    .logo {
        text-align: center;
    }

}

  @media screen and (max-width: 448px) {

    /* Home */

    #home, #about, #gallery, #contact-us, img{
        width: 100%;
        margin: 10px 10px 0 0; 
}

  }

/* medium to large mobile screens and tablets*/

@media screen and (max-width: 768px) {

}
