@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jura', sans-serif;
    background-color: black;
}

header, footer {
    background-color:rgba(8, 72, 135, 0.6);
    border-radius: 0.625rem;
    Height:auto;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* Navigation */

.logo {
    font-size: 2rem;
    text-shadow: 2px 2px rgb(164, 36, 59);
    text-transform: uppercase;
    text-align: center;
    margin-left: 0.625rem;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    list-style-type: none;
    text-transform: uppercase;
    
}

#footer-links {
    justify-content: center;
}

#footer-links a {
    font-size: 2rem; 
}

.nav-links {
    flex-direction: column;
    align-items: center;
}  

.nav-links a:hover {
    border-bottom: 2px solid white;
}

.nav-links a:hover, #footer-links a:hover {
    color: rgba(245, 138, 7);
    font-weight: bold;
}

/* Hero Image */

#hero-image {
    
     background-image: url('../images/forest-walk.jpg');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     background-attachment:fixed;

}

/* Page divs */

#home, #about, #gallery, #contact-us {

    color: white;
    background-color: rgba(175, 187, 242, 0.4);
    padding: 0.625rem;
    text-align: center;
    border-radius: 0.625rem;
    margin: 0.625rem;
}

  /* Book Now Button */


p {
    margin-top: 5px;
}

#book-now {

    background-color: rgb(164, 36, 59);
    
}

#book-now:hover {
    background-color: rgba(245, 138, 7);
    
}

form {
    background-color: rgba(8, 72, 135, 0.6);
    border-radius: 0.625rem;
    padding: 0.625rem;
    text-align: left;
}

.text-input {
    width: 100%;
}

.submit {
    font-size: 1.5rem;
    color: white;
    background-color: rgb(164, 36, 59);
}

.submit:hover {
    background-color: rgba(245, 138, 7);
}

/* gallery */

img {
    width: 100%;
    border: 2px solid white;
}

/* media queries*/

@media screen and (min-width: 435px) {
    .logo {
        text-align: left;
    }

    .nav-links {
        flex-direction: row;
        justify-content: flex-end;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 750px) {
    img {
        width: 30%;
    }
}


