* {
    margin: 0;
    padding: 0;
}

body {
    background-color: red;
}

header {
    background-color: green;
}

.logo {
    text-transform: uppercase;
    text-align: center;
}

.nav-menu {
    
}