@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jura', sans-serif;
}

header {
    background-color:rgba(135,206,250, 0.6);
    height: 3.75rem;
}

/* Main Navigation */

.logo {
    color: darkblue;
    text-shadow: 2px 2px white;
    text-transform: uppercase;
    text-align: left;
    margin-left: 5px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    text-transform: uppercase;
}

.nav-links li {
    margin-right: 5px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    background-color: green;
    border-radius: 5px;
    padding: 1px;
}

.nav-links a:hover {
    color: orange;
}

.active {
    border-bottom: 2px solid darkblue;
}

/* small mobile screen sizes */

@media screen and (max-width: 319px) {

    body {
        font-size: 1rem;
    }

    header {
        height: auto;
    }

    .logo {
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin-top: 5px;
    }
}

/* medium to large mobile screens and tablets*/

@media screen and (max-width: 768px) {

    .nav-links{
        justify-content: flex-end;
    }

    .nav-links li {
        margin-right: 5px;
    }
    
}
