* {
    margin: 0;
    padding: 0;
}

body {
    background-color: red;
}

header {
    background-color: green;
}

/* Main Navigation */

.logo {
    text-transform: uppercase;
    text-align: center;
}

.nav-links {
    display:flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    text-transform: uppercase;
}