@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jura', sans-serif;
}

header {
    background-color:rgba(135,206,250, 0.6);
}

/* Main Navigation */

.logo {
    color: darkblue;
    text-shadow: 2px 2px white;
    text-transform: uppercase;
    text-align: left;
    margin-left: 5px;
}

.logo a {
    text-decoration: none;
}

.nav-links {
    font-size: 140%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0 1rem;
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 1rem;
}

.nav-links li {
    margin: 4px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 1px;
}

.nav-links a:hover {
    font-weight: bold;
    border-bottom: 2px solid darkblue;
}

.nav-links .active {
      color: darkorange;
      text-shadow: 1px 1px darkblue;
      border-bottom: 2px solid darkblue;
}

/* Hero Image */

#hero-image {
    Height: 100vh;
    width: 100%;
    background-image: url('../images/forest-walk.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

/* Home Page*/

#slogan {
    color: white;
    background-color: rgba(175, 187, 242, 0.6);
    width: 320px;
    height: 200px;
    margin-top: 5px;
    text-align: center;
}


/* small mobile screen sizes */

@media screen and (max-width: 320px) {

    body {
        font-size: 1rem;
    }

    header {
        height: auto;
    }

    .logo {
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

}

/* medium to large mobile screens and tablets*/

@media screen and (max-width: 768px) {

    .nav-links{
        justify-content: flex-end;
    }

}
