@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jura', sans-serif;
    background-color: black;
    font-size: 1rem;
}

header {
    background-color:rgba(8, 72, 135, 0.6);
    border-radius: 10px;
    Height:auto;
}

/* Main Navigation */

.logo {
    margin-left:10px;
}

.logo > a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px rgb(164, 36, 59);
    text-transform: uppercase;
    text-align: left;
}

.nav-links {
    font-size: 140%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0 1rem;
    margin-right: 1rem;
    list-style-type: none;
    text-transform: uppercase;
    
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    border-bottom: 2px solid white;
    color: rgba(245, 138, 7);
    font-weight: bold;
}

/*.nav-links .active {
      color: rgba(245, 138, 7);
      font-weight: bold;
      border-bottom: 2px solid white;
}*/

/* Hero Image */

#hero-image {
    
     background-image: url('../images/forest-walk.webp');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     background-attachment:fixed;

}

/* Home Page*/

#slogan {

    color: white;
    background-color: rgba(175, 187, 242, 0.4);
    height: auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

  /* Book Now Button */

#book-now {

    background-color: rgb(164, 36, 59);
    margin-top: 5px;
}

#book-now > a {

    font-size: 1rem;
    color:white;
    text-decoration: none;
}


/* About Page */

#about {

    color: white;
    background-color: rgba(175, 187, 242, 0.4);
    height: auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}
/* Gallery Page */

#gallery {
        color: white;
        background-color: rgba(175, 187, 242, 0.4);
        height: auto;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        margin-top: 10px;
    }

img {
    display: flex;

}

/* Contact Us */

#contact-us {

    color: white;
    background-color: rgba(175, 187, 242, 0.4);
    height: auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

/* very large screen sizes */

@media screen and (max-width: 2560px) {

    /* Home */

    #slogan {
        width: 400px;
        margin-left: 10px;
    }

    /* About */

    #about {
        width: 400px;
        margin-left: 10px;
    }

    #gallery {
        width: 400px;
        margin-left: 10px;
    }

    img{
        width: auto;
        margin-left: 10px;
    }

    #contact-us {
        width: 400px;
        margin-left: 10px;
    }
}

/* small mobile screen sizes */

@media screen and (max-width: 320px) {

    /* Navigation */
    
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
      
    /* home*/

    .logo {
        text-align: center;
    }

}

  @media screen and (max-width: 448px) {

    /* Home */

    #slogan {
        width: 100%;
        margin: 10px 10px 0 0; 
    }

    /* About */

    #about {
        width: 100%;
        margin: 10px 10px 0 0;
    }

    /* Gallery */

    #gallery {
        width: 100%;
        margin: 10px 10px 0 0;
    }

    img{
        width: 100%;
        margin: 10px 10px 0 0;
    }

    /* Contact Us */

    #contact-us {
        width: 100%;
        margin: 10px 10px 0 0;
    }

}

/* medium to large mobile screens and tablets*/

@media screen and (max-width: 768px) {

}
