@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jura', sans-serif;
}

header {
    /*background-color:rgba(135,206,250, 0.6);*/
    /*background-color: rgba(175, 187, 242, 0.6);*/
    background-color:rgba(8, 72, 135, 0.6);
    border-radius: 10px;
}

/* Main Navigation */

.logo > a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px rgb(164, 36, 59);
    text-transform: uppercase;
    text-align: left;
    margin-left: 5px;
}

.nav-links {
    font-size: 140%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0 1rem;
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 1rem;
}

.nav-links li {
    margin: 4px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 1px;
}

.nav-links a:hover {
    border-bottom: 2px solid white;
}

.nav-links .active {
      color: rgba(245, 138, 7);
      border-bottom: 2px solid white;
      font-weight: 700;
}

/* Hero Image */

#hero-image {
    Height: 100vh;
    width: 100%;
    background-image: url('../images/forest-walk.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

/* Home Page*/

#slogan {
    color: white;
    background-color: rgba(175, 187, 242, 0.4);
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    
}

#book-now {

    background-color: rgb(164, 36, 59);
    margin-top: 5px;
}

#book-now > a {
    font-size: 1rem;
    color:white;
    text-decoration: none;
}

/* small mobile screen sizes */

@media screen and (max-width: 320px) {

    body {
        font-size: 1rem;
    }

    header {
        height: auto;
    }

    .logo {
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

}

/* medium to large mobile screens and tablets*/

@media screen and (max-width: 768px) {

    .nav-links{
        justify-content: flex-end;
    }

}
