@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jura', sans-serif;
}

header {
    background-color:rgba(135,206,250, 0.6);
    height: 3.75rem;
}

/* Main Navigation */

.logo {
    color: darkblue;
    text-shadow: 2px 2px white;
    text-transform: uppercase;
    text-align: center;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    text-transform: uppercase;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: orange;
}

.active {
    border-bottom: 2px solid darkblue;
}

@media screen and (max-width: 319px) {

    body {
        font-size: 1rem;
    }

    .nav-links {
        flex-direction: column;
}

}